*{
  margin: 0;
  padding: 0;
}
.my_header,.my_footer,.my_footer1{
  width: 100%;
}
header{
  height: 9.3rem;
}
footer{
  height: 8.3rem;
}
.container{
  padding: 0;
  margin: 0;
}



#zong{
  margin-bottom: 1rem;
}
#guanyu{
  height: 5.3rem;
  width: 13rem;
  background: url(../img/tt.jpg);
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  float: right;
  margin-right: 2rem;
}
#guanyu p{
  margin-left: 1rem;
  margin-top: 1.1rem;
}
#jieshao{
  width:13rem;
  float: right;
  margin-top:5.3rem;
  margin-right: -13rem;
  font-size:12px;
}
#jieshao a{
  color: #333;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left:0;
  padding-right: 0;
  border-bottom: 1px solid #DEDEDE;
}
#my_jieshao{
  margin-top: 2rem;
}
.border{
  padding: 1rem;
  background-color: #F4F4F4;
}
#jieshao .nav-link.hover{
  color: #fff !important;
  background-color:#C0090B;
  width: 10.6rem;
  margin-left: 0.2rem;
}
#a1{
  color: #ffffff !important;
  background-color:#C0090B;
  width: 10.6rem;
  margin-left: 0.2rem;
}
#gongsi{
  position: relative;
}
#gongsi h1{
  color:#fff;
  font-size: 14px;
  font-weight: bold;
  position:absolute;
  top: 0.55rem;
  left: 2rem;
}
#jieshao img{
  padding-top: 0.5rem;
}
.card-header{
  background-color: rgba(0, 0, 0, 0);
}
.card{
  width: 60.6rem;
}
.card-header p{
  line-height: 24px;
  color: #333;
  font-size: 14px;
}
#jieshao p{
  margin-bottom: 0;
}



