*{
  margin: 0;
  padding: 0;
}
.my_header,.my_footer,.my_footer1{
  width: 100%;
}
header{
  height: 9.3rem;
}
footer{
  height: 8.3rem;
}
.container{
  padding: 0;
  margin: 0;
}




#zong{
   margin-bottom: 1rem;
   padding-right: 0;
   margin-right: 0;
}
#zong :first-child{
  padding-right:0;
}
#guanyu{
  height: 5.3rem;
  width: 13rem;
  background: url(../img/tt.jpg);
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  float: right;
  margin-right: 2rem;
}
#guanyu p{
  margin-left: 1rem;
  margin-top: 1.1rem;
}
#jieshao{
  width:13rem;
  float: right;
  margin-top:5.3rem;
  margin-right: -13rem;
  font-size:12px;
}
#jieshao a{
  color: #333;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left:0;
  padding-right: 0;
  border-bottom: 1px solid #DEDEDE;
}
#my_jieshao{
  margin-top: 2rem;
  float: left;
}
.border{
  padding: 1rem;
  background-color: #F4F4F4;
}
#jieshao .nav-link.hover{
  color: #fff !important;
  background-color:#C0090B;
  width: 10.6rem;
  margin-left: 0.2rem;
}
#a1{
  color: #ffffff !important;
  background-color:#C0090B;
  width: 10.6rem;
  margin-left: 0.2rem;
}
#gongsi{
  position: relative;
}
#gongsi h1{
  color:#fff;
  font-size: 14px;
  font-weight: bold;
  position:absolute;
  top: 0.55rem;
  left: 2rem;
}
#jieshao img{
  padding-top: 0.5rem;
}
.card-header{
  background-color: rgba(0, 0, 0, 0);
}
.card{
  width: 60.6rem;
}
.card-header p{
  line-height: 24px;
  color: #333;
  font-size: 14px;
}
#jieshao p{
  margin-bottom: 0;
}




.showLine{
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border:0.04rem dashed #666;
}
.fenye{
  float: right;
  margin-top: 1.5rem;
  margin-right: 1rem;

}
.fenye span{
  margin:auto;
  height: 2rem;
}
.fenye span,.fenye p{
  color: #999;
  clear: both;
  font-size: 0.75rem;
}
.fenye li a{
  padding-left:0.3rem !important;
  padding-right:0.3rem !important;
  padding-top:0.04rem !important;
  padding-bottom:0.04rem !important;
  margin-right: 0.1rem;
  background-color:#B0B0B0 !important;
  color: #fff !important;
}
.fenye input{
  width: 1.5rem;
  height: 1rem;
}
.fenye h3 a {
  background-color:#CB0000;
  color: #fff;
  font-size: 0.75rem;
}
.fenye h3{
  font-size: 14px;
  font-weight: bold;
}
.fenye h3{
  margin:auto;
  height: 2rem;
}
#zoujin_2{
  float: right;
}

