.container{
  background: #CA0B0D;
}
.container a{
  text-align: center;
  padding-bottom: 0;
  line-height: 2rem;
  width: 6.3rem;
  font-family: 微软雅黑;
  float: left;
  height: 2rem;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  padding-top: 0;
}
#div1,#div2{
  padding: 0;
}
#div1 img{
  float: right;
}

