.container{
  background: #CA0B0D;
  height: 175px;
  width:100%;
}
.container a{
  text-align: center;
  padding-bottom: 0;
  line-height: 35px;
  width: 102px;
  font-family: 微软雅黑;
  float: left;
  height: 35px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 0;
}