#kong{
    width: 43.5rem;
    height: 34rem ;
    border: 1px solid #ccc;
    margin-bottom: 2rem;
    margin-left: 1rem;
}
#d1{
    line-height: 24px;
    color: #333;
    font-size: 14px;
}
#d2 img{
    float: right;
}
#p1{
    font-size: 21px;
    font-weight: bold;
   color: #333;
}
