.card-header>.fenye{
    width: 100%;
}
.card-header>.fenye>ul{
    float: right;
    margin-right: -1rem;
}
.card-header>.fenye>span{
    margin-left: 1.5rem;
}
.card-header>.fenye>ul>span{
    color: #999999;
    font-size: 0.75rem;
}
#xinwen{
    border-top: 0 !important;
}

.card-header{
    margin-right: 1.5rem;
}
.card-header>#xinwen{
    list-style: none;
    border-top: 0.04rem dashed #000;
}
.card-header>#xinwen>li>a,.card-header>#xinwen>li>span{
    font-size: 0.75rem !important;
    color: #535353 !important;
}
.card-header>#xinwen>li>a>span{
    margin-bottom: 0;
}
.card-header>#xinwen>li>span{
    float:right ;
}
.card-header #p p{
    margin-bottom: 0;
}
.xinwen_1_3 #p{
    width: 14rem;
    height: 6.56rem;
    margin-right: 0;
}
.xinwen_1_3 #p img,.xinwen_1_4 #p img,.xinwen_1_7 #p img{
    width: 8.75rem !important;
    height: 6.65rem !important;
}
.xinwen_1_3 #p2{
    width: 50rem;
    margin-top: -7rem;
    float: right;
}
.xinwen_1_3 #p3{
    margin-top: 18rem;
}

.xinwen_1_4 #p2{
    margin-top: -6.3rem;
    float: right;
}
.xinwen_1_4 #p2 p{
    line-height: 1.3rem;
}

.xinwen_1_4 #p3{
    margin-top: 4rem;
}
.xinwen_1_6 #p p{
    line-height: 1.375rem;
    color: #333;
    font-size: 0.8785rem;
}
.xinwen_1_7 #p2{
    text-align: left;
    width: 45rem;
    margin-top: -7rem;
    float: right;
}
.xinwen_1_8 p img{
    width: 31.25rem;
}
















