.img-fluid {
    max-width: 100%;
    height:auto;
}
#guanyu{
    height: 5.3rem;
    width: 13rem;
    background: url(../img/tt.jpg);
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    float: left;
    margin-left: 22rem;
    margin-top: 1.25rem;
}
#jieshao{
    float: left;

}