#zoujin_2{
    margin-right: 2rem;
    margin-left: 1rem;
}
.card-header{
    padding-left: 2rem;
}
.card-header>ul{
    width: 54rem;
    height: 30rem;
}
#zoujin3>ul>li>p{
    font-size: 0.75rem;
    color: #4c4948;
}
#zoujin3>ul>li>a>img{
    width: 9.12rem;
    height: 7.3rem;
    padding:0.3rem !important;
    border: 0.065rem solid #E1E1E1;
}
#zoujin3>ul>li>a{
    width:9.1rem;
    padding: 0;
}
#zoujin3>ul>li>a.hover{
    padding: 0;
    background-color: #FFF4CE;
    border: 0.065rem solid #FF6600;
}
#zoujin3>ul>li{
    height: 8rem;
    width: 9rem;
}

#zoujin3>.border{
    background-color: #fff;
    border: 0 !important;
}
