*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    outline: none;
}
#index_header{
    height: 70px;
}
.footer{
    height: 354px;
}

#index_header,.footer{
    width: 100%;
}
body{
     font-size: 14px;
    font-family: "Microsoft YaHei", SimSun, SimHei;
 }
p {
    text-align: justify;
    line-height: 28px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h1, h2, h3, h4, h5, h6, em, i {
    font-style: normal;
    font-weight: 400;
    outline: none;
}
.clear{
    display: block;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    line-height: 0px;
    font-size: 1px;
    clear: both;
    visibility: hidden;
}
img{
    border: 0px;
    vertical-align: middle;
}
h1{
    font-style: normal;
    font-weight: 400;
    outline: none;
}
#footer iframe{
    height: 284px !important;
}
.fenye{
    text-align: center;
    clear: both;
    margin-top: 20px;
    margin-bottom: 70px;
}
.ep-pages {
    margin: 0 auto;
    display: inline-block;
    border-right: 1px solid #E8E8E8;
    margin-top: 20px;
}
.ep-pages span {
    display: inline-block;
    border: 1px solid #E8E8E8;
    color: #3c3c3c;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}
.ep-pages a, .ep-pages span {
    display: inline-block;
    border: 1px solid #E8E8E8;
    color: #3c3c3c;
    border-right: none;
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
}
.current {
    background: #F2BB61 !important;
    border: 1px solid #F2BB61 !important;
    color: #fff !important;
}
.ep-pages a:hover{
    color: #F2BB61;
}


a {
    text-decoration: none;
    color: #000;
    outline: none;
}
.xuanxiang{
    font-size: 15px;
    color: #484848;
    line-height: 65px;
    border-bottom: 1px solid #CBCBCB;
}
.xuanxiang .xuanxiang_1{
    width: 1200px;
    margin: 0 auto;
    background: url(../img/wz.jpg) left center no-repeat;
    box-sizing: border-box;
    padding-left: 30px;
}
.xuanxiang a{
    font-size: 15px;
    color: #484848;
}
.xuanxiang em{
    color: #f2bb61;
    font-size: 15px;
    font-style: normal;
}
.xuanxiang_2{
    display: inline-block;
    float: right;
    line-height: 64px;
}
.xuanxiang_2 a{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 16px;
}
.a{
    border-bottom: 2px solid #F2BB61;
    box-sizing: border-box;
}

.index_header{
    height: 70px;
    line-height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background: rgba(0,0,0,0.6);
}

.index_header .header{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.index_header .logo{
    float: left;
}
.index_header .logo a{
    display: block;
}
.index_header #daohang{
    float: right;
    overflow: hidden;
}
.index_header #daohang a{
    margin-left: 50px;
    color: #fff;
    text-align: center;
    float: left;
    font-size: 16px;
    text-decoration: none;
}
.hover{
    color: #EAC658 !important;
}