.index_header{
    height: 70px;
    line-height: 70px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background: rgba(0,0,0,0.6);
}
.index_header .header{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.index_header .logo{
    float: left;
}
.index_header .logo a{
    display: block;
}
.index_header .daohang{
    float: right;
    overflow: hidden;
}
.index_header .daohang a{
    margin-left: 50px;
    color: #fff;
    text-align: center;
    float: left;
    font-size: 16px;
    text-decoration: none;
}
#hover{
color: #EAC658;
}