
#home{
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
}
#home img{
    border: 0;
    vertical-align: middle;
}
#home .home_1{
    text-align: center;
    margin-top: 65px;
    margin-bottom: 20px;
    font-size: 35px;
}
#home .home_2{
    text-align: center;
    width: 800px;
    margin: 0 auto;
    line-height: 30px;
    margin-bottom: 50px;
}
.jieshao p{
    text-align: justify;
    line-height: 28px;
}
.clear {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 1px;
    clear: both;
    visibility: hidden;
}
.jieshao .jieshao_1 .jieshao_1_1{
    width: 600px;
    float: left;
    position: relative;
    height: 342px;
    z-index: 88;
}
.jieshao .jieshao_1 .jieshao_1_1 img{
    position: absolute;
    top: 0;
    right: 0;
}
.jieshao_1_2{
    height: 342px;
    width: 600px;
    float: left;
    box-sizing: border-box;
    padding: 85px;
    background: url(../img/01.jpg) 85px 85px no-repeat;
}
.jieshao_1_2 p{
    margin-top: 50px;
}
.jieshao_2{
    overflow: hidden;
}
.jieshao_2 .jieshao_2_1{
    float: left;
    width: 600px;
    height: 720px;
    position: relative;
}
.jieshao_2 .jieshao_2_1 .jieshao_2_2{
    width: 600px;
    height: 600px;
    box-sizing: border-box;
    padding: 85px;
    background: url(../img/02.jpg)#4A4A4A 85px 85px no-repeat;
}
.jieshao_2 .jieshao_2_1 .jieshao_2_2 p{
    color: #FFF;
    margin-top: 50px;
}
.jieshao_2 .img{
    position: absolute;
    right: 0;
    bottom: 0;
}
.jieshao_3{
    float: right;
    width: 600px;
    height: 720px;
}
.jieshao_3 .jieshao_3_1{
    box-sizing: border-box;
    padding: 85px;
    background: url(../img/03.jpg) 85px 85px no-repeat;
}
.jieshao_3 .jieshao_3_1 p{
    margin-top: 50px;
}



#dongtai{
    width: 1200px;
    margin: 0 auto;
    margin-top: 65px !important;
    font-size: 14px;
}
#dongtai .dongtai_1{
    text-align: center;
    margin-bottom: 45px !important;
    font-size: 35px;
}
#dongtai .dongtai_2 a{
    overflow: hidden;
    display: block;
    outline: none;
    text-decoration: none;
    color: #000;
}
#dongtai .dongtai_2 .dongtai_img{
    width: 600px;
    height: 200px;
    float: left;
    position: relative;
}
.dongtai_2 a img{
    width: 600px;
    height: 200px;
}
.dongtai_2 i{
    width: 75px;
    height: 95px;
    background: url(../img/news_bj.png) center center no-repeat;
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 14px;
    text-align: center;
    color: #4e4e4e;
}
.dongtai_2 i b{
    display: block;
    text-align: center;
    font-size: 20px;
    color: #4e4e4e;
    font-weight: 100;
    margin-top: 10px;
}
.dongtai_2_1{
    width: 600px;
    height: 200px;
    float: left;
    box-sizing: border-box;
    padding: 45px;
}
.dongtai_2 .dongtai_2_1{
    width: 600px;
    height: 200px;
    float: left;
    box-sizing: border-box;
    padding: 45px;
}
.dongtai_2_1 h1{
    font-size: 18px;
    line-height: 30px;
    font-style: normal;
    font-weight: 500;
    outline: none;
}
.dongtai_2_2 p{
    line-height: 30px;
    color: #4e4e4e;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-align: justify;
}
#dongtai .dongtai_2 a:nth-child(2) .dongtai_img {
    float: right;
}
#dongtai .dongtai_2 a:nth-child(2) .dongtai_2_1 {
    float: left;
}
#dongtai .dongtai_2 a:last-child .dongtai_img{
    margin-bottom: 70px;
}



.h_cp {
    background: url(../img/H_cp.jpg) center center no-repeat;
    height: 1025px;
    margin-top: 95px;
}
.h_cp_n_T_img {
    float: left;
}
.h_cp_n_T {
    overflow: hidden;
    padding-top: 90px;
}
.h_cp_n_T_tit {
    float: right;
}
.h_cp_n_T_tit a {
    width: 160px;
    height: 50px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    color: #FFF;
    font-size: 16px;
}
.h_cp_n_T_tit a.cur {
    background: #F2BB61;
    color: #000;
    border: 1px solid #F2BB61;
}
.h_cp_n_T_tit a:hover {
    background: #F2BB61;
    color: #000;
    border: 1px solid #F2BB61;
}
.marquee1 {
    width: 1200px;
    height: 530px;
    overflow: hidden;
}
.marquee1 ul li {
    float: left;
    width: 400px;
}
.marquee1 ul li a {
    width: 395px;
    float: left;
    border: 1px solid #FFF;
    border: 1px solid rgba(0,0,0,0.0);
}
.marquee1 ul li img {
    display: block;
    width: 100%;
}
.marquee1 ul li a:hover {
    border: 1px solid #8A775C;
}
.marquee1 ul li a {
    text-align: center;
    height: 528px;
}
.marquee1 ul li h1 {
    font-size: 30px;
    color: #eec281;
    text-align: center;
    line-height: 45px;
}
.marquee1 ul li h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #FFF;
    line-height: 45px;
}
.marquee1 ul li p {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #A0A0A0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 5px;
    height: 51px;
}
.marquee1 ul li i {
    width: 170px;
    height: 36px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #FFF;
    line-height: 36px;
    margin-top: 12px;
    color: #FFF;
}
.h_cp_n {
    position: relative;
}
#btnl{
    position: absolute;
    width: 29px;
    height: 29px;
    left: -60px;
    top: 550px;
}
#btnr{
    position: absolute;
    width: 29px;
    height: 29px;
    right: -60px;
    top: 550px;
}
.h_cp_n_T_li {
    margin-top: 30px;
}
.h_cp_n_T_li a{ cursor: pointer;}






