.img{
    background: url(../img/201812031654106572.jpg) center center no-repeat;
    width: 100%;
    height: 450px;
}
.xinwen{
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px !important;
}
.w_1200 {
    width: 1200px;
    margin: 0 auto;
}
.xinwen .xinwen_1{
    margin-top: 60px;
    overflow: hidden;
}
.xinwen .xinwen_1 a{
    width: 100%;
    box-sizing: border-box;
    padding: 35px;
    float: left;
    margin-bottom: 10px;
    color: #000;
}
.x_time{
    width: 145px;
    height: 85px;
    float: left;
    font-size: 45px;
    color: #4e4e4e;
    text-align: center;
}
.x_time s{
    color: #4e4e4e;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
.x_R{
    width: 690px;
    float: left;
}
.x_R .x_R_1{
    width: 700px;
    float: left;
}
.x_R .x_R_1 h1{
    font-size: 18px;
    margin-bottom: 15px;
}
.x_R .x_R_1 p{
    font-size: 14px;
    color: #4e4e4e;
}
.xinwen_1 a img{
    width: 180px;
    height: 120px;
    float: right;
}
.xinwen_1 a:hover{
    background-color: #F8F8F8;
}
.xinwen_1 a:hover .x_time{
    color: #F2BB61;
}


.news {
    margin-top: 50px !important;
}
.news h1{
    text-align: center;
}
.news h1 span {
    font-size: 30px;
    text-align: left;
    display: inline-block;
}
.news h2 {
    color: #484848;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #C8C8C8;
    font-size: 14px;
}
.news h2 a {
     display: inline-block;
     float: right;
     font-size: 14px;
     color: #484848;
     text-decoration: underline;
 }
.news_1 {
    margin-top: 20px;
}
.news_1 p {
    color: #484848;
    margin: 0;
}
.news_img{
    text-align: center;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.fy {
    margin-top: 20px;
    margin-bottom: 70px;
}
.fy p{
    margin: 0;
}
.p{
    text-align: center;
}




